{% extends 'citas/base.html' %}
{% load url from future %}
{% block title %}
Citas
{% endblock %}
{% block js%}
<script>
	$(function(){
		$(".alert").fadeIn(400).delay(2000).slideUp(700);
var url;
				{% for cit in citas %}
				$("#hecho{{cit.pk}}").click(function(){
					 url=$("#idhecho{{cit.pk}}").val();
				//alert("has dicho que NO");
				
				});
		
			{% endfor %}

			$("#si").click(function(){
						//alert("Has dicho que si");
						//+++++++++++++++++++++++++++++++++
				$.ajax({
			    		
			    		url:url,
			    		type:'GET',

			    	});
			
		//+++++++++++++++++++++++++++++++++	
						//alert(url);

						$("#myModal").modal('hide');
						
									setTimeout(function(){  
								    urlReload = "{{usuario.pk}}"   
								    $(location).attr('href',urlReload);  
								    },100);
					});

			// DATEPIKER SELECT FECHA
                   $('#datepicker').datepicker(
    									{
    										dateFormat: 'yy-mm-dd',
    										minDate:'-0d',
    										//altField: '#datepicker_value',
									        onSelect: function(){
									            var day1 = $("#datepicker").datepicker('getDate').getDate();                 
									            var month1 = $("#datepicker").datepicker('getDate').getMonth() + 1;             
									            var year1 = $("#datepicker").datepicker('getDate').getFullYear();
									            var fullDate = year1 + "-" + month1 + "-" + day1;
									            var dNow = new Date();
	var localdate= (dNow.getFullYear() + '-' + (dNow.getMonth()+1) + '-' + dNow.getDate() );
									             
									           
									             if(fullDate==localdate){
									            
									             	setTimeout(function(){  
												    urlReload = "{{usuario.pk}}"   
												    $(location).attr('href',urlReload);  
												    },10);		
									             }else{

									            getCitas(fullDate);
									             }
									        },
									        
    									});

                   function getCitas(fullDate){
                   	var user={{usuario.pk}};
                   	//alert(user);
                   	//var csrftoken = $.cookie('csrftoken');
                   	$.ajax({
			    		
			    		url:"{% url 'citas:getcitasForFecha' %}",
			    		
			    		data: {
					            'usuario_id':user,
					            'fecha':fullDate,
					            'csrfmiddlewaretoken': '{{ csrf_token }}',
					        },
			    		type:'POST',
			    		success : function(data){
			    			//console.log(data);
			    			$("#citasDiaActual").hide();
				    			var html="";
			    			 if(data=='null'){
			    			// 	//alert('No hay medicos para esta especialidad');
			    			// 	html='<option value="0">-------------------</option>'
			    			// 	$("#id_medico").html(html);
			    				$("#citasAjax").hide();
			    				$("#nocitas").show();
			    				$("#nocitas").fadeIn(400).delay(1000).slideUp(700);
			    			 }else{
			    			 	
			    				$("#citasAjax").show();
			    				
				    			for(var i=0;i<data.length;i++){
				    				html+="<tr><td>"+data[i].fields.servicio_idservicio+"</td><td>"+data[i].fields.paciente_idpaciente+"</td><td>"+data[i].fields.fecha+"</td><td> "+data[i].fields.hora_idhora+"</td><td>"+data[i].fields.estado_cita_idestado+"</td><td><a class='btn btn-success btn-xs' data-toggle='modal' data-target='#modalDanger' name='accion'  href=''><span class='glyphicon glyphicon-ok' ></span></a></td></tr>";
				    			}
				    				//alert(html);
			    				$("#citasAjaxBody").html(html);
			    			}
			    		},

			    	});
                   }
                  

	});
</script>
{% endblock %}
{% block navbar %}
				
			<ul class="nav navbar-nav">
				
				<li >
					<a href="/administracion"><span class="glyphicon glyphicon-home" ></span> Home</a>
				</li>
				
			  <li >       
          <a href="/administracion/usuarios"><span class="glyphicon glyphicon-user" ></span> Usuarios</a>    
        </li>
          <li >
          
          <a href="/administracion/medicos"><span class="glyphicon glyphicon-user" ></span> Médicos</a>
        
        </li>
       

				
			</ul>
			<ul class="nav navbar-nav navbar-right">

				<li class="navbar-rigth">
				<a>	<span class="glyphicon glyphicon-user" ></span>  Administracion </a>
				</li>
	<li>
					<a href="{% url 'citas:logout' %}"><span class="glyphicon glyphicon-off"></span> Salir</a>
				</li>
			</ul>
		
 {% endblock %}
 {% block logout %} <a href="{% url 'citas:logout' %}"><span class="glyphicon glyphicon-off"></span> Salir</a>
					{% endblock %}

{% block navsAsideIzq %} 
	<ul class="nav nav-pills nav-stacked">
				  <li><a href="/administracion/medicos"><span class="glyphicon glyphicon-home" ></span> Home</a></li>
				  <li  class="active">
					<a href="{{usuario.pk}}"><span class="glyphicon glyphicon-list-alt" ></span> Citas</a>
				</li>
				 
				 
				</ul>
				<br>
				<div class="hidden-xs" id="datepicker"></div>
				<br>
{% endblock %}					
{% block  contenido %} 

<div class="panel panel-primary">
	<div class="panel-heading"><span class="glyphicon glyphicon-list-alt" ></span>  Citas por atender |  {{medico.nombres}} {{medico.apellidos}}</div>
  <div class="panel-body">
  
{% if citas %} 

<table class="table table-hover table-bordered">
	
	<thead>
		<tr>
			
			<th>Tratamiento</th>
			<th>Paciente</th>
			<th>Fecha proxima cita</th>
			<th>Hora</th>
			<th>Estado</th>
			<th>Accion</th>

		</tr>
	</thead>
	<tbody>
	{% for  cit in citas %} 
		
	
		<tr>
			
		
			<td>{{cit.servicio_idservicio}}</td>
			<td>{{cit.paciente_idpaciente}}</td>
			<td>{{cit.fecha}}</td>
			<td>{{cit.hora_idhora}}</td>
			<td>{{cit.estado_cita_idestado}}</td>
			<input id="idhecho{{cit.pk}}" type="hidden" value="hechocitas/{{cit.pk}}" >
<td><a id="hecho{{cit.pk}}" class="btn btn-success btn-xs" data-toggle="modal" data-target="#myModal" name="accion"  href=""><span class="glyphicon glyphicon-ok" ></span></a></td>
		</tr>
	
		{% endfor %}
	
	
	</tbody>
</table>



<div class="col-md-4">
	
</div>

  	
  </div>


  <div class="panel-footer">
  	<div class="col-md-2"></div>
  {% if citas.paginator %}
	  <ul class="pagination">
	    {% if citas.has_previous %}
	      <li><a href="?page={{ cita.previous_page_number }}">&laquo;</a></li>
	    {% else %}
	      <li class="disabled"><a href="#">&laquo;</a></li>
	    {% endif %}

	    {% for num in citas.paginator.page_range %}
	      {% ifequal num citas.number %}
	        <li class="active"><a href="#">{{ num }}<span class="sr-only">(current)</span></a></li>
	      {% else %}
	        <li><a href="?page={{ num }}">{{ num }}</a></li>

	      {% endifequal %}
	    {% endfor %}

	    {% if citas.has_next %}
	      <li><a href="?page={{ cita.next_page_number }}">&raquo;</a></li>
	    {% else %}
	      <li class="disabled"><a href="#">&raquo;</a></li>
	    {% endif %}
	  <ul>
  {% endif %}

{% else %}
<div class="alert alert-info">
		<span class="glyphicon glyphicon-info-sign" ></span>	Aún no tiene citas pendientes para el día de hoy</p>	
	</div>		 
{% endif %}
</div>
<div class="panel-footer">
Citas
</div>
  </div>



<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"><span class="glyphicon glyphicon-warning-sign"></span>   Confirmación</h4>
      </div>
      <div class="modal-body">
      	
      		
       <p>
       	
       ¿Desea confirmar la asistencia a la cita y desactivarla de la lista?
       </p> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button id="si" type="button" class="btn btn-primary">Aceptar</button>
      </div>
    </div>
  </div>
</div>


{% endblock %}
